@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-body: #404040;
  --color-muted: #525252;
  --color-subtle: #a3a3a3;
  --color-faint: #d4d4d4;
  --color-border: #e5e5e5;
  --color-divider: #f5f5f5;
  --color-surface: #fafafa;
  --color-selection: #47a3f3;
  --color-selection-foreground: #fefefe;
  --color-live: #16a34a;

  --text-*: initial;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.25rem;
  --text-base: 1rem;
  --text-base--line-height: 1.5rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.75rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;

  --font-weight-*: initial;
  --font-weight-normal: 400;
  --font-weight-medium: 500;

  --tracking-*: initial;
  --tracking-tight: -0.025em;
  --tracking-tighter: -0.05em;

  --radius-*: initial;
  --radius-lg: 0.5rem;

  --shadow-*: initial;
  --inset-shadow-*: initial;
  --drop-shadow-*: initial;
  --text-shadow-*: initial;
  --blur-*: initial;
  --animate-*: initial;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  html {
    min-width: 360px;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::selection {
    @apply bg-selection text-selection-foreground;
  }

  pre {
    scrollbar-width: none;
  }

  pre::-webkit-scrollbar {
    display: none;
  }
}
